* {
	/*CSS Selectors:
		* = All
	{} = Delimiter
	*/
	font-family: "Roboto", sans-serif;
}

h1, h2 {
	font-family: "Montserrat", sans-serif;
}

h1, p {
	color: #becae4;
}
p {
   	max-width: 700px;
}
img {
	height: 250px;
	width: 250px;
	border-radius: 50%;
	margin-bottom: 15px;
}

#landing {
	height: 85vh;
	/*center contect vertically using flexbox*/
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.jumbotron {
	background-color: transparent;
}

#gallery {
	height: 75vh;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	border-radius: 6px;
}

.tools {
	color: white;
	padding: 25;
	height: 200px;
	border: 5px solid #0000CD;
	margin: 20px;
	width: 70%;
	border-radius: 4px;
}

ul {
	list-style: none;
	padding: 0;
}

h2 {
	color: #becae4;
}

html {
  scroll-behavior: smooth;
}

.navbar {
	background-color: midnightblue;
}
/*CSS Specificity*/
